div {
	margin: auto;
	border-style: solid;
	border-color: red;
	border-width: 2px
	
}

div.video {
	width: 853px;
	height: 480px;
}

div.Navigator{
	background-color: #333;
	position: fixed;
	top: 0;
	width: 98%;
}

div.formular {
	width: 340px;
	padding: 40px;
}

div.startLoginButton {
	width: 340px;
	padding: 0px;
	border: none;
}

div.loginContainer {
	width: 423px;
	background-color: #D0D0D0;
	border-radius: 4px;
}

div.topLoginSignin {
	float: right;
}

div.tabele {
	width: 69%;
	background-color: #D0D0D0;
	border-radius: 4px;
}

div.tabeleHead {
	width: 69%;
}

div.list {
	margin: 8px;
	border-style: solid;
	border-color: #333;
	border-width: 2px
}

div.Profilbild {
	height: 250px;
	width: 250px;
	float:left;
	margin: 8px;
	border-color: #333;
	border-radius: 4px;
}

div.userInfo {
	display: inline-block;
	height: 250px;
	width: 73%;
	margin: 8px 0;
	border-color: #333;
	border-radius: 4px;
	background-color: white;
}

div.userStatistics {
	margin: 8px;
	border-color: #333;
	border-radius: 4px;
	background-color: white;
}

div.userPerks {
	margin: 8px;
	border-color: #333;
	border-radius: 4px;
	background-color: white;
}

div#displayPerks {
	margin: 8px;
	background-color: white;
	overflow: scroll;
}

div.container {
	margin: 8px;
	border: none;
}


h1, h2, h3 {
	margin: 8px;
}

p {
	margin: 24px;
	displa: inline-block;
}

p.sentMessage {
	min-width: 100px;
	max-width: 400px;
	background-color: #bbff99;
	padding: 25px;
	margin-left: auto;
	margin-right: 8px;
	margin-top: 8px;
	margin-bottom: 8px;
}

p.receivedMessage {
	max-width: 400px;
	background-color: #f2f2f2;
	padding: 25px;
	margin: 8px;
}

form {
	margin: auto;
}

select {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-sizing: border-box;
}

select.search {
	float: left;
	width: 68%;
	padding: 20px 0;
	margin: 8px;
	display: inline-block;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-sizing: border-box;
}

select.message {
	width: 100%;
	padding: 20px 0;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-sizing: border-box;
}

textarea {
   	resize: vertical;
	width: 99%
}

a.bigButton {
	width: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	padding: 25px 0;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}


a.squareButton {
	float: right;
	width: 12%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	padding: 20px 10px;
	margin: 6px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

a.deleteButton {
	width: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: rgb(200,0,0);
	color: white;
	padding: 25px 0;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

a.addPerkButton {
	float: right;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	padding: 35px 20px;
	margin: 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

a.tabeleDelete {
	float: right;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 10px;
	text-decoration: none;
}

a.tabeleAdd {
	float: right;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 10px;
	text-decoration: none;
}

a.newMessage {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	background-color: #4CAF50;
	color: white;
	padding: 25px 44%;
	margin: 8px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

a.tabeleFloatRight {
	float: right;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 10px;
	text-decoration: none;
}

input[type=text], input[type=password], input[type=date], input[type=email] {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 25px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}

ul.Navigator {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.topLoginSignin {
	float:right;
	list-style-type:none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

ul.tabele {
	
	list-style-type:none;
	margin: auto;
	padding: 0;
	overflow: hidden;
	background-color: #888;
}

li.Navigator {
	float: left;
}

li.topLoginSignin {
	float: left;
}

li.tabele {
	border-style: solid;
	border-color: #333;
	border-width: 2px
}

li.messageBox {
	border-style: solid;
	border-color: #333;
	border-width: 2px

}

li.Navigator a.Navigator {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 65px;
	text-decoration: none;
}

li.topLoginSignin a.topLoginSignin {
	padding: 20px 10px;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

li.tabele a.tabele {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 20px 65px;
	text-decoration: none;
}

li.Navigator a.Navigator:hover:not(.active) {
	background-color: #111;
}

li.topLoginSignin a.topLoginSignin:hover:not(.active) {
	background-color: #111;
}

li.tabele a.tabele:hover:not(.active) {
	background-color: #111;
}

a.squareButton:hover {
	background-color: #45a049;
}

a.addPerkButton:hover {
	background-color: #45a049;
}

a.bigButton:hover {
	background-color: #45a049;
}

a.tabeleDelete:hover {
	background-color: rgb(200,0,0);
}

a.tabeleAdd:hover {
	background-color: #4CAF50;
}

a.deleteButton:hover {
	background-color: rgb(170,0,0);
}

a.newMessage:hover {
	background-color: #45a049;
}

a.tabeleFloatRight:hover {
	background-color: #111;
}