@(topics: List[models.ebean.Topic],user: List[models.ebean.User])

@mainIntern("Spiel erstellen") {
    <div>
        <div class="formular">
            <h1>
                Spiel erstellen
            </h1>
        </div>
        <div class="formular">
            <form>
                <select name="Thema">
                    <option value="thema1">Thema 1</option>
                    <option value="thema2">Thema 2</option>
                    <option value="thema3">Thema 3</option>
                    <option value="thema4">Thema 4</option>
                </select>
                <input name="Senden" type="submit">
            </form>
        </div>
    </div>
}