@(topics: List[models.ebean.Topic], users: List[models.ebean.User])

@mainIntern("Spiel erstellen") {
    <br>
    <br>
    <br>
    <br>

    <div>
        <div class="formular">
            <h1>
                Spiel erstellen
            </h1>
        </div>
        <div class="formular">
            <form>
                <select name="Thema">
                    @for(topic <- topics) {
                        <option value="@topic.getId">@topic.getName</option>
                    }
                </select>
                <select name="Mitspieler">
                    @for(user <- users) {
                    <option value="@user.getId">@user.getFirstname @user.getLastname</option>
                    }
                </select>
                <input name="Senden" type="submit">
            </form>
        </div>
    </div>
}