@(games: List[models.ebean.Game])

@mainIntern("Spiel laden") {
    <div>
        <div class="formular">
            <h1>
                Spiel laden
            </h1>
        </div>
        <div class="tabele">
            <ul class="tabele">
                <li class="tabele">Spielstand 1 <a class="bigButton" href="#speicherplatz1">Laden</a></li>
                <li class="tabele">Spielstand 2 <a class="bigButton" href="#speicherplatz2">Laden</a></li>
            </ul>
        </div>
    </div>
}