@(games: List[models.ebean.Game])

@mainIntern("Spiel laden") {
    <div>
        <div class="formular">
            <h1>
                Spiel laden
            </h1>
        </div>
        <div class="tabele">
            <ul class="tabele">
                @for(game <- games) {
                    <li class="tabele">Spiel @game.getId() mit Thema: @game.getTopic.getName() <a class="bigButton" href="/games/play/@game.getId()">Laden</a></li>
                }
            </ul>
        </div>
    </div>
}