@import models.ebean.User
@(user: User)

@mainIntern("Spielen", user) {
    <br>
    <br>
    <br>


    <div class="formularHead">
        <h1>
            Spielen
        </h1>
    </div>
    <div class="formular">
        <a class="bigButton" href="/games/create">
            Neues Spiel
        </a>
        <br>
        <a class="bigButton" href="/games/load">
            Spiel laden
        </a>
        <br>
        <a class="bigButton" href="/games/pending">
            Einladungen
        </a>
    </div>

}