@import models.ebean.Player

@(user: models.ebean.User)

@mainIntern("Spieleinladungen") {
    <br>
    <br>
    <br>
    <br>

    <div>
        <div class="formular">
            <h1>
                Spieleinladungen
            </h1>
        </div>
        <div class="tabele">
            <div class="list">
                <ul class="tabele">
                @for(game <- user.getPendingGames) {
                    <li class="tabele">
                    ID: @game.getId Thema: @game.getTopic
                        @if(game.getPlayerForUser(user).getPlayerStatus() == Player.PlayerStatus.INVITED) {
                            <a class="tabele" href="/games/accept/@game.getId">Annehmen</a>
                            <a class="tabele" href="/games/decline/@game.getId">Ignorieren</a>
                        } else {
                            ...warte auf Mitspieler.
                        }
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
}