@import models.ebean.Player
@import models.ebean.User
@(user: models.ebean.User, feedback: String)

@mainIntern("Spieleinladungen", user) {
    <br>
    <br>
    <br>
    <br>
    <!--<img src="/assets/images/SPLogo.png" alt="Science Party Logo" height="20%" width="20%">-->
    <div class="tabeleHead">
        <h1>
            Spieleinladungen
        </h1>
    </div>
    <br>
    <div class="tabele">
        <div class="list">
            <ul class="tabele">
                @if(user.getPendingGames.isEmpty) {
                    <p>Es gibt momentan keine Spiele, zu denen du eingeladen bist oder die noch nicht gestartet sind.</p>
                } else {
                    @for(game <- user.getPendingGames) {
                        <li class="tabele">
                            <a class="tabele" href="#gameInfo">@game.getName</a>
                            @if(game.getPlayerForUser(user).getPlayerStatus() == Player.PlayerStatus.INVITED) {
                                <a class="tabele" href="/games/accept/@game.getId">Annehmen</a>
                                <a class="tabele" href="/games/decline/@game.getId">Ignorieren</a>
                            } else {
                                ...warte auf Mitspieler.
                            }
                        </li>
                    }
                }
            </ul>
            </div>

    </div>

    <script>
        @if(feedback != "") {
            window.onload = function() {
                window.alert("@feedback")
            };
        }
    </script>
}