@import models.ebean._
@(user: User, player: Player, game: Game, feedback: String)

@mainIntern("Science Party", user) {
    <br>
    <br>
    <br>
    <br>
    <div class="Spielinformationen">
        <h2>Science Party</h2>
        <p>
            <b> Name: </b> @game.getName
            <b> Thema: </b>  @game.getTopic.getName()
                <b> Spielbeginn: </b>  @game.getWhenCreated()
                    <b> Aktiver Spieler: </b>  @game.getActivePlayer
        </p>
    </div>

    <div class="Mitspieler">
        <h3>Mitspieler</h3>
        @for(player <- game.getPlayingPlayer) {
            <p>
                <div id="myProgress">
                    <div id="myBar">
                        <div id="label">@player</div>
                </div>
                </div>
                Id: @player.getId <br>
                Name: @player <br>
                Position: @player.getFieldPosition
            </p>
        }
    </div>

    @if(game.getActivePlayer.getId == player.getId) {
        <div class="Faehigkeiten">
            <h3>Fähigkeiten für dieses Spiel</h3>
            <ul>
            @for(perk <- player.getPerksPerPlayer) {
                <li>@perk.getPerkPerUser.getPerkPerTopic.getPerk.getName
                    @if(!perk.isUsed) {
                        <a href="/games/play/@game.getId/perk/@perk.getId">Fähigkeit einsetzen</a>
                    }
                </li>
            }
            </ul>
        </div>


        <div class="Frage">
            <p> Frage @game.getActiveQuestion.getId(): @game.getActiveQuestion.getText() </p>

            <form id="answerForm">
                <ul>
                    <fieldset>
                        <legend>Antworten</legend>
                        @for((answer, index) <- game.getActiveQuestion.getAnswers.zipWithIndex) {
                            <input type="radio" id="a@index" name="answer" value="@answer.getId">
                            <label for="a1">@(index + 1): @answer.getText()</label> <br>
                            }
                    </fieldset>
                </ul>
                <button type="submit">Antworten</button>
            </form>
        </div>
    }

    <div class="formular">
        <a class="deleteButton" href="/games/leave/@game.getId">
            Spiel verlassen!
        </a>
    </div>

    <script>
    // Set autorefresh
    @if(game.getActivePlayer.getId != player.getId) {
    window.onload=autoRefresh(5000);
    }

    // On submit, trasmit answer to server
    $("#answerForm").on('submit', function (e) {
        e.preventDefault();

        var answerId=$('input[name=answer]:checked').val();

        if(answerId === "undefined") {
            window.alert("Bitte wähle eine Antwort aus.");
        } else {
            $.ajax({
                url: '/games/answer/@game.getId()',
                method: 'POST',
                contentType: "application/json",
                dataType: "text",
                data: JSON.stringify({
                    answerId: answerId,

                }),
                success: function(data,status,xhr) {
                    alert(xhr.responseText);
                    location.reload();
                },
                error: function(xhr,status,error) {
                    alert(xhr.responseText);
                }
            });
        }
    });

    // Auto refresh
    function autoRefresh(t) {
        setTimeout("location.reload(true);", t);
    }

    // Feedback if something happend
    @if(feedback != "") {
    window.onload = function() {
        window.alert("@feedback");
        window.history.pushState("","","/games/play/@game.getId");
    };
    }

    function move() {
    var elem = document.getElementById("myBar");
    var width = 1;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= 40) {
           // endgame;
        } else {
            player.getFieldPosition + ;
        }
    }
}

    game.getActivePLayer = function(){alert(
    </script>

}