@(player: models.ebean.Player, game: models.ebean.Game)

@mainIntern("Science Party") {
    <br>
    <br>
    <br>
    <br>
    <div class="Spielinformationen">
        <h2>Science Party</h2>
        <p>
            Name: @game.getName<br>
            Thema: @game.getTopic.getName()<br>
            Spielbeginn: @game.getWhenCreated()<br>
            Aktiver Spieler: @game.getActivePlayer<br>
        </p>
    </div>

    <div class="Mitspieler">
        <h3>Mitspieler</h3>
        @for(player <- game.getPlayingPlayer) {
            <p>
                Id: @player.getId <br>
                Name: @player <br>
                Position: @player.getFieldPosition
            </p>
        }
    </div>

    <div class="Frage">
        <p> Frage @game.getActiveQuestion.getId(): @game.getActiveQuestion.getText() </p>

        <form id="answerForm">
            <ul>
                <fieldset>
                    <legend>Antworten</legend>
                    @for((answer, index) <- game.getActiveQuestion.getAnswers.zipWithIndex) {
                        <input type="radio" id="a@index" name="answer" value="@answer.getId">
                        <label for="a1">@(index + 1): @answer.getText()</label> <br>
                        }
                </fieldset>
            </ul>
            <button type="submit">Antworten</button>
        </form>
    </div>

    <div class="Spielfeld">


    </div>


    <script>
            $("#answerForm").on('submit', function (e) {
                e.preventDefault();

                var answerId=$('input[name=answer]:checked').val();

                if(answerId === "undefined") {
                    window.alert("Bitte wähle eine Antwort aus.");
                } else {
                    window.alert(answerId);

                    $.ajax({
                        url: '/games/answer/@game.getId()',
                        method: 'POST',
                        contentType: "application/json",
                        dataType: "text",
                        data: JSON.stringify({
                            answerId: answerId,

                        }),
                        success: function(data,status,xhr) {
                            alert(xhr.responseText);
                            location.reload();
                        },
                        error: function(xhr,status,error) {
                            alert(xhr.responseText);
                        }
                    });
                }

            });
    </script>

}