@import models.ebean.User
@(user: User)

@mainIntern("Fähigkeit scannen", user) {

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/qcode-decoder.min.js")"></script>
    <br>
    <br>
    <br>
    <br>
    <div class="tabeleHead">
        <h1>
            Fähigkeit hinzufügen
        </h1>
        <p>
            Füge eine Fähigkeit hinzu indem du hier deinen Bonus QR-Code scannst...
        </p>
    </div>
    <div style="text-align: center; border: none;">
        <video autoplay></video>
    </div>
    <script>
            // get video element
            var video = document.querySelector('video');
            // register callback function if a QR code is detected
            QCodeDecoder().decodeFromCamera(video, function(err, result){
                if(err) throw err;
                window.location.assign("/profile/scan/" + result);

            });
    </script>
}