@()

    @mainExtern("Registrierung") {
    <br>
    <br>
    <br>
    <br>
    <img src="/assets/images/SPLogo.png" alt="Science Party Logo" height="20%" width="20%">
    <div class="formularHead">
        <h1>
            Registrieren
        </h1>
    </div>
    <div class="loginContainer">
        <div class="formular">
            <form id="registerForm">
                    Vorname:<br>
                    <input id="firstname" type="text" name="firstname" placeholder="Vorname" required>
                    <br>
                    Nachname:<br>
                    <input id="lastname" type="text" name="lastname" placeholder="Nachname" required>
                    <br>
                    Geburtsdatum:<br>
                    <input id="birthday" type="text" name="birthday" placeholder="01.01.1994" required>
                    <br>
                    E-Mail Adresse:<br>
                    <input id="email" type="email" name="email" placeholder="E-Mail Adresse" required>
                    <br>
                    Passwort:<br>
                    <input id="password" type="password" name="password" placeholder="Passwort" required>
                    <br>
                    <br>
                    <input type="checkbox" name="agb" value="agb" required>
                    Ich stimme den <a href="http://worldoftanks.eu/user_agreement">Endbenutzer-Lizenzvertrag</a> zu.
                    <br>
                    <br>
                    <input id="registerButton" type="submit" value="Registrieren">
            </form>
        </div>
    </div>
    <script>
            $("#registerForm").on('submit', function (e) {
                e.preventDefault();
                var firstname = $("#firstname").val();
                var lastname = $("#lastname").val();
                var birthday = $("#birthday").val();
                var email = $("#email").val();
                var password = $("#password").val();
                $.ajax({
                    url: "/register",
                    method: "POST",
                    contentType: "application/json",
                    dataType: "text",
                    data: JSON.stringify({
                        firstname: firstname,
                        lastname: lastname,
                        birthday: birthday,
                        email: email,
                        password: password,
                    }),
                    success: function(data,status,xhr) {
                        location.reload();
                    },
                    error: function(xhr,status,error) {
                        alert(xhr.responseText);
                    }
                });

            });
    </script>

}