@(titel: String)

@mainIntern("Freunde") {
    <div>
        <h1>
            Freunde
        </h1>
    </div>
    <br>
    <div class="tabele">
        <form class="search">
            <input type="search" placeholder="Vorname, Nachname oder E-Mail">
        </form>
        <ul class="tabele">
            <li class="tabele"><a href="#profil">Person 1</a><a class="squareButton" href="#message">Nachricht senden</a><a class="squareButton" href="#deleteFriend">Freund entfernen</a></li>
            <li class="tabele"><a href="#profil">Person 2</a><a class="squareButton" href="#message">Nachricht senden</a><a class="squareButton" href="#deleteFriend">Freund entfernen</a></li>
        </ul>
        <br>
        <h2>Offene Freundschaftsanfragen</h2>
        <ul class="tabele">
            <li class="tabele"><a href="#profil">Person 1</a><a class="squareButton" href="#accept">Annehmen</a><a class="squareButton" href="#ignore">Ignorieren</a><a class="squareButton" href="#block">Blockieren</a></li>
            <li class="tabele"><a href="#profil">Person 2</a><a class="squareButton" href="#accept">Annehmen</a><a class="squareButton" href="#ignore">Ignorieren</a><a class="squareButton" href="#block">Blockieren</a></li>
        </ul>
    </div>

}