@(titel: String)

@mainExtern("Welcome to Science Party") {
    <br>
    <br>
    <br>
    <br>
    <img src="/assets/images/SPLogo.png" alt="Science Party Logo" height="20%" width="20%">
    <div class="video">
        <object width="853" height="480" data="http://www.youtube.com/v/Mozhvgshgn4?autoplay=1">
            Video kann nicht wiedergegeben werden.
        </object>
    </div>

    <div class="startLoginButton">
        <a class="bigButton" href="/login">
            LOGIN
        </a>
    </div>

}