@(titel: String)

@mainExtern("Welcome to Science Party") {

<!DOCTYPE html>

<html lang="de">

    <head>
        <meta charset="UTF-8">
        <title>Start</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <body>


    <!-- LOGO [class="topLogo"] -->

        <br>
        <br>
        <br>
        <div class="video">
            <object width="853" height="480" data="http://www.youtube.com/v/opp74R5GjlM?autoplay=1">
                Video kann nicht wiedergegeben werden.
            </object>
        </div>
        <br>
        <a class="bigButton" href="login">
            LOGIN
        </a>


    </body>
</html>

}