@(title: String)(content: Html)


<!DOCTYPE html>

<html lang="de">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-2.1.4.js")" type="text/javascript"></script>
    </head>
    <body>
        <div class="Navigator">
            <ul class="Navigator">
                <li class="Navigator"><a class="Navigator" href="/">Start</a></li>
                <li class="Navigator"><a class="Navigator" href="blog">Blog</a></li>
                <li class="Navigator"><a class="Navigator" href="events">Events</a></li>
                <li class="Navigator"><a class="Navigator" href="kontakt">Kontakt</a></li>
                <ul class="topLoginSignin">
                    <li class="topLoginSignin"><a class="topLoginSignin" href="login">Anmelden</a></li>
                    <li class="topLoginSignin"><a class="topLoginSignin" href="register">Registrieren</a></li>
                </ul>
            </ul>
        </div>
        @content

    </body>
</html>