@(titel: String)

@mainExtern("Registrierung") {

    <!-- LOGO [class="leftLogo"] -->

        <div class="formular">
            <h1>
                Registrieren
            </h1>
        </div>

        <div class="formular">
            <form>
                Vorname:<br>
                <input id="firstname" type="text" name="firstname" placeholder="Vorname" required>
                <br>
                Nachname:<br>
                <input id="lastname" type="text" name="lastname" placeholder="Nachname" required>
                <br>
                Geburtsdatum:<br>
                <input id="birthday" type="date" name="birth" required>
                <br>
                E-Mail Adresse:<br>
                <input id="email" type="email" name="email" placeholder="E-Mail Adresse" required>
                <br>
                Passwort:<br>
                <input id="password" type="password" name="password" placeholder="Passwort" required>
                <br>
                <br>
                <input type="checkbox" name="agb" value="agb" required> Ich stimme den <a href="http://worldoftanks.eu/user_agreement">Endbenutzer-Lizenzvertrag</a> zu.
                <br>
                <br>
                <input id="registerSubmit" type="submit" value="Registrieren">
            </form>
        </div>
        <script>
            $("#registerSubmit").click(function() {
                var firstname = $("#firstname").val();
                var lastname = $("#lastname").val();
                var birthday = $("#birthday").val();
				var email = $("#email").val();
				var password = $("#password").val();
				$.ajax({
					url: '/login',
					method: 'POST',
					contentType: "application/json",
					dataType: 'json',
					data: JSON.stringify({
						firstname: firstname,
						lastname: lastname,
						birthday: birthday,
						email: email,
						password: password,
					}),
                    success: function(data) {
                        alert(data.resultMessage);
                        location.reload();
                    }
				});
			});
        </script>

}