@import models.ebean.User
@(user: User, notis: List[models.ebean.Notification])

@mainIntern("News", user) {
    <br>
    <br>
    <br>
    <br>
    <div>
        <div class="tabeleHead">
            <h1>
                Newsfeed
            </h1>
        </div>
        <div class="tabele">
            <ul class="tabele">
                @for(noti <- notis) {
                    <li class="tabele">
                        <a class="noFunctionTabele">@noti.getPublicText</a>
                        <a class="noFunctionTabeleFloatRight">@noti.getWhenCreated</a>
                    </li>
                }
            </ul>
        </div>
    </div>

}