@import models.ebean.User
@(user: User, notis: List[models.ebean.Notification])

@mainIntern("News", user) {
    <br>
    <br>
    <br>
    <br>
    <div class="tabeleHead">
        <h1>
            Newsfeed
        </h1>
    </div>
    <div class="tabele">
        <ul class="tabele">
        @if(notis.isEmpty) {
            <p>Es ist noch nichts passiert.</p>
        } else {
            @for(noti <- notis) {
                <li class="tabele">
                    <a class="noFunctionTabele">@noti.getPublicText</a>
                    <a class="noFunctionTabeleFloatRight">@noti.getTimeFormatted("dd.MM.yyyy 'um' HH:mm 'Uhr'")</a>
                </li>
            }
        }
        </ul>
    </div>
}