@(users: List[models.ebean.User], friendRequests: List[models.ebean.User], friends:List[models.ebean.User])

@mainIntern("Freunde") {
    <br>
    <br>
    <div>
        <h1>
            Freunde
        </h1>
    </div>
    <br>
    <div class="tabele">
        <!-- VORLÄUFIG PERSONEN SUCHEN VIA <Select> <Option> (Option -> Liste aller Personen) -->
        <form>
            <select class="search">
                @for(user <- users) {
                    <option value="@user.getId">@user.getFirstname @user.getLastname</option>
                }
            </select>
            <!-- <input type="search" placeholder="Vorname, Nachname oder E-Mail"> -->
        </form>
        <div class="list">
            <ul class="tabele">
                <li class="tabele">
                    <a class="tabele" href="#profil">Person 1</a>
                    <a class="squareButton" href="#message">Nachricht senden</a>
                    <a class="squareButton" href="#deleteFriend">Freund entfernen</a>
                </li>
                <li class="tabele">
                    <a class="tabele" href="#profil">Person 2</a>
                    <a class="squareButton" href="#message">Nachricht senden</a>
                    <a class="squareButton" href="#deleteFriend">Freund entfernen</a>
                </li>
            </ul>
        </div>
        <br>
        <h2>Offene Freundschaftsanfragen</h2>
        <div class="list">
            <ul class="tabele">
                @for(friendRequest <- friendRequests) {
                    <li class="tabele">
                        <a class="tabele" href="/profile/@friendRequest.getId">@friendRequest.getFirstname @friendRequest.getLastname</a>
                        <a class="squareButton" href="/friends/accept/@friendRequest.getId">Annehmen</a>
                        <a class="squareButton" href="/friends/decline/@friendRequest.getId">Ignorieren</a>
                        <a class="squareButton" href="#block">Blockieren</a>
                    </li>
                }
            </ul>
        </div>
    </div>

}