@import models.ebean.User
@(users: List[User], friendRequests: List[User], friends: List[User])


@mainIntern("Freunde") {
    <br>
    <br>
    <br>
    <div class="tabeleHead">
        <h1>
            Freunde
        </h1>
    </div>
    <br>
    <div class="tabele">
            <!-- VORLÄUFIG PERSONEN SUCHEN VIA <Select> <Option> (Option -> Liste aller Personen) -->
        <form>
            <select class="search" onchange="userSelected(this.options[this.selectedIndex].value)">
                <option value="">Wähle eine Person</option>
            @for( user <- users) {
                <option value="@user.getId">@user.toString</option>
            }
            </select>
                <!-- <input type="search" placeholder="Vorname, Nachname oder E-Mail"> -->
            <a class="squareButton" id="addFriend" href="javascript:addFriend(0);">Freund hinzufügen</a>
            <a class="squareButton" id="sendMessage"  href="/friends/messages">Nachricht senden</a>
            <a class="squareButton" id="viewProfile" href="/profile">Profil</a>
        </form>
        <br>
        <br>
        <br>
        <br>
        <h2>Offene Freundschaftsanfragen</h2>
        <div class="list">
            <ul class="tabele">
                @for( friendRequest <- friendRequests) {
                <li class="tabele">
                    <a class="tabele" href="/profile/@friendRequest.getId">@friendRequest.toString</a>
                    <a class="tabele" onclick="acceptFriend(@friendRequest.getId)">Annehmen</a>
                    <a class="tabele" onclick="declineFriend(@friendRequest.getId)">Ignorieren</a>
                </li>
                }
            </ul>
        </div>
        <br>
        <div id="aa" class="list">
            <ul class="tabele">
                @for( friend <- friends) {
                    <li class="tabele">
                        <a class="tabele" href="/profile/@friend.getId">@friend.toString</a>
                        <a class="tabele" href="/message/send/@friend.getId">Nachricht senden</a>
                        <a class="tabele" onclick="deleteFriend(@friend.getId)" href="#">Freund entfernen</a>
                    </li>
                }
                <li class="tabele">
            </ul>
        </div>
        <br>
    </div>

    <script>

            function deleteFriend(id) {
                $.ajax({
                    url: "/friends/delete/" + id,
                    method: "POST",
                    dataType: "text",
                    success: function(data,status,xhr) {
                        location.reload();
                    },
                    error: function(xhr,status,error) {
                        alert(xhr.responseText);
                    }
                });
            }

            function addFriend(id) {
                if (id != 0) {
                    $.ajax({
                        url: "/friends/add/" + id,
                        method: "POST",
                        dataType: "text",
                        success: function(data,status,xhr) {
                            alert(xhr.responseText);
                            location.reload();
                        },
                        error: function(xhr,status,error) {
                            alert(xhr.responseText);
                        }
                    });
                }
            }

            function acceptFriend(id) {
                $.ajax({
                    url: "/friends/accept/" + id,
                    method: "POST",
                    dataType: "text",
                    success: function(data,status,xhr) {
                        location.reload();
                    },
                    error: function(xhr,status,error) {
                        alert(xhr.responseText);
                    }
                });
            }

            function declineFriend(id) {
                $.ajax({
                    url: "/friends/decline/" + id,
                    method: "POST",
                    dataType: "text",
                    success: function(data,status,xhr) {
                        location.reload();
                    },
                    error: function(xhr,status,error) {
                        alert(xhr.responseText);
                    }
                });
            }

            function userSelected(id) {
                $("#addFriend").attr("href", "javascript:addFriend(" + id + ");");
                $("#sendMessage").attr("href", "messages/send/" + id);
                $("#viewProfile").attr("href", "profile/" + id);
            }
    </script>
}