@import models.ebean.User
@(user: User, chats: List[models.ebean.Chat], feedback: String)

    @mainIntern("Nachrichten", user) {
        <br>
        <br>
        <br>
        <br>
        <div class="tabeleHead">
            <h1>
                Nachrichten
            </h1>
        </div>
        <br>
        <div class="tabele">
            <div class="list">
                <a class="bigButton" href="/messages/new">Neue Nachricht</a>
            </div>
            <div class="list">
                <ul class="tabele">
                @if(chats.isEmpty) {
                    <p>Du hast noch keine Nachrichten.</p>
                } else {
                    @for(chat <- chats) {
                        <li class="tabele">
                            @if(chat.getUnreadMessagesCountFor(user) == 0) {
                                <a class="tabele" href="/messages/show/@chat.getId">@chat.getChatMembersExceptOf(user)</a>
                            } else {
                                <a class="tabele" href="/messages/show/@chat.getId">@chat.getChatMembersExceptOf(user) (@chat.getUnreadMessagesCountFor(user))</a>
                            }
                        </li>
                    }
                }
                </ul>
            </div>
        </div>
        <script>
        @if(feedback != "") {
            window.onload = function() {
                window.alert("@feedback")
            };
        }
        </script>

    }