@import models.ebean.User
@(user:User, chats: List[models.ebean.Chat])

@mainIntern("Nachrichten", user) {
    <br>
    <br>
    <br>
    <br>
    <div class="tabeleHead">
        <h1>
            Nachrichten
        </h1>
    </div>
    <br>
    <div class="tabele">
        <a class="newMessage" href="/messages/new">+Neue Nachricht</a>
        <div class="list">
            <ul class="tabele">
                <li class="tabele">
                    <a class="tabele" href="/messages/:id">Chat 1</a>
                    <a class="tabele" href="/messages/delete/:id">Chat löschen</a>
                </li>
            </ul>
        </div>
    </div>

}