@import models.ebean.User
@(user: User)

@mainIntern("Neue Nachricht", user) {
    <br>
    <br>
    <br>
    <br>

    <div class="tabele">
        <div class="container">
            @if(!user.getFriends.isEmpty){
            <form id="newMessage">
                <select id="toIds" class="message">

                    @for(friend <- user.getFriends) {
                    <option value="@friend.getId">@friend.toString</option>
                    }
                </select>
                <br>
                <textarea id="message" rows="10" cols="70"></textarea>
                <input class="newMessage" name="Senden" type="submit">
            </form>
            } else {
                <p>Du hast leider noch keine Freunde, welchen du eine Nachricht senden kannst.</p>
            }
        </div>
    </div>
    <script>
        $("#newMessage").on('submit', function (e) {
                    e.preventDefault();
                    var toIds = $("#toIds").val();
                    var message = $("#message").val();
                    $.ajax({
                        url: "/messages/new",
                        method: "POST",
                        contentType: "application/json",
                        dataType: "text",
                        data: JSON.stringify({
                            toIds: toIds,
                            message: message,
                        }),
                        success: function(data,status,xhr) {

                            window.open("/messages/show/" + data,"_self");
                        },
                        error: function(xhr,status,error) {
                            alert(xhr.responseText);
                        }
                    });

                });
    </script>

}