@import models.ebean.User
@(user: User, users: List[User])

@mainIntern("Neue Nachricht", user) {
    <br>
    <br>
    <br>
    <br>

    <div class="tabele">
        <div class="container">
            <form>
                <select class="message">
                    @for( user <- users) {
                    <option value="@user.getId">@user.toString</option>
                    }
                </select>
                <br>
                <textarea rows="10" cols="70"></textarea>
                <input class="newMessage" name="Senden" type="submit">
            </form>
        </div>
    </div>

}