@import models.ebean.User
@(user: User, users: List[User])

@mainIntern("Neue Nachricht", user) {
    <br>
    <br>
    <br>
    <br>

    <div class="tabele">
        <div class="container">
            <form id="newMessage">
                <select id="toIds" class="message">
                    @for( user <- users) {
                    <option value="@user.getId">@user.toString</option>
                    }
                </select>
                <br>
                <textarea id="message" rows="10" cols="70"></textarea>
                <input class="newMessage" name="Senden" type="submit">
            </form>
        </div>
    </div>
    <script>
        $("#newMessage").on('submit', function (e) {
                    e.preventDefault();
                    var toIds = $("#toIds").val();
                    var message = $("#message").val();
                    $.ajax({
                        url: "/messages/new",
                        method: "POST",
                        contentType: "application/json",
                        dataType: "text",
                        data: JSON.stringify({
                            toIds: toIds,
                            message: message,
                        }),
                        success: function(data,status,xhr) {
                            alert(xhr.responseText);
                            window.open("/messages","_self");
                        },
                        error: function(xhr,status,error) {
                            alert(xhr.responseText);
                        }
                    });

                });
    </script>

}