@import models.ebean.User
@(user: User, messages: List[models.ebean.Message])

@mainIntern("Nachrichten", user) {
    <br>
    <br>
    <div>
        <h1>
            Nachrichten
        </h1>
    </div>
    @for(message <- messages) {
        @if(message.getUser.getId == user.getId) {
            Von mir:<br>
            @message.getWhenCreated <br>
            @message.getText<br>
        } else {
            Von jemand anderem:<br>
            @message.getWhenCreated <br>
            @message.getText<br>
        }
    }
    <br>
@*    <div class="tabele">
        <div class="list">
            <ul class="tabele">
                <li class="tabele">
                    <a class="tabele" href="/messages/:id">Chat 1</a>
                    <a class="tabele" href="/messages/delete/:id">Chat löschen</a>
                </li>
            </ul>
        </div>*@
        <div class="list">
            <form>
                <select>

                </select>
                <textarea rows="10" cols="70"></textarea>
                <input name="Senden" type="submit">
            </form>
        </div>
    </div>

}