@import models.ebean.User
@(user: User, messages: List[models.ebean.Message], chat: models.ebean.Chat)

@mainIntern("Nachrichten", user) {
    <br>
    <br>
    <br>
    <div class="tabeleHead">
        <h1>
            Nachrichten
        </h1>
    </div>
    <div class="tabele">
        <br>
        <h2>@chat.getName()</h2>
        <br>
        <div class="list">
            @for(message <- messages) {
                    @if(message.getUser.getId == user.getId) {
                            <p class="sentMessage">
                                @message.getWhenCreated <br><br>
                                <b>@message.getText</b><br>
                            </p>
                        <br>
                    } else {
                            <p class="receivedMessage">
                                @message.getWhenCreated <br><br>
                                <b>@message.getText</b><br>
                            </p>
                        <br>
                    }
            }
            </ul>
        </div>
        <div class="container">
            <form id="sendMessage">
                <textarea id="message" rows="10" cols="70"></textarea>
                <input name="Senden" type="submit">
            </form>
        </div>
    </div>
    <script>
            $("#sendMessage").on('submit', function (e) {
                e.preventDefault();
                var message = $("#message").val();
                $.ajax({
                    url: "/messages/send/@messages.get(0).getChat.getId",
                    method: "POST",
                    contentType: "application/json",
                    dataType: "text",
                    data: JSON.stringify({
                        message: message,
                    }),
                    success: function(data,status,xhr) {
                        //alert(xhr.responseText);
                        location.reload();
                    },
                    error: function(xhr,status,error) {
                        alert(xhr.responseText);
                    }
                });

            });
    </script>
}