@import models.ebean.User
@(user: User, messages: List[models.ebean.Message], chat: models.ebean.Chat)

    @mainIntern("Nachrichten", user) {
        <br>
        <br>
        <br>
        <div class="tabeleHead">
            <h1>
                Nachrichten
            </h1>
        </div>
        <div class="tabele">
            <br>
            <h2>@chat.getChatMembersExceptOf(user)</h2>
            <br>
            <div class="messageField">
                @for(message <- messages) {
                    @if(message.getUser.getId == user.getId) {
                        <p class="sentMessage">
                            @message.getTimeFormatted("dd.MM.yyyy 'um' HH:mm 'Uhr'")<br> <br>
                            <b>@message.getText</b> <br>
                        </p>
                        <br>
                    } else {
                        <p class="receivedMessage">
                            @message.getWhenCreated <br> <br>
                            <b>@message.getText</b> <br>
                        </p>
                        <br>
                        }
                }
            </div>
            <div class="container">
                <form id="sendMessage">
                    <textarea id="message" rows="10" cols="70"></textarea>
                    <input name="Senden" type="submit">
                </form>
            </div>
        </div>
        <script>
                $(function() {
                    $("#message").focus();
                });

                $("#message").keydown(function(e){
                    if (e.keyCode == 13 && !e.shiftKey)
                    {
                        sendMsg($("#message").val());
                        e.preventDefault();
                    }
                });

                $("#sendMessage").on('submit', function (e) {
                    e.preventDefault();
                    sendMsg($("#message").val());
                });

                function sendMsg(msg) {
                    if (msg) {
                        $("#message").val("");
                        $.ajax({
                            url: "/messages/send/@messages.get(0).getChat.getId",
                            method: "POST",
                            contentType: "application/json",
                            dataType: "text",
                            data: JSON.stringify({
                                message: msg,
                            }),
                            success: function(data,status,xhr) {
                                //alert(xhr.responseText);
                                location.reload();
                            },
                            error: function(xhr,status,error) {
                                alert(xhr.responseText);
                            }
                        });
                    }
                }

                // Auto refresh
                function autoRefresh(t) {
                    setTimeout("location.reload(true);", t);
                }
        </script>
    }